.bkgrnd {
    background: #FBFBFB;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
    z-index: 100;
    width: 100% ! important;
}
.legendScore {
    text-align: center;
    /* background-color: #FFF; */
}

.legendScore__number {
    font-weight: 700;
    font-size: 26px;
    margin: 10px;
}
.legendScore__text {
    opacity: 0.5;
    margin: 5px;
}

@media (min-width: 1024px) and (max-width: 1342px){
    .box-score {
        width: 70% ! important;
        height: 200px ! important;
    }
    .recharts-legend-wrapper {
        left: -17px ! important;
        top: 56.7px ! important;
    }
}

@media (min-width: 1024px) and (max-width: 1030px){
    .recharts-legend-wrapper {
        left: -38px;
        top: 51.7px;
    }
}