.error-content {
    margin: 159px 90px 86px 25%;
    align-items: center;
    height: 70vh;
    width: 50%;
}

.errorNumber{
    font-size: 288px;
    color: #FF0101;
    font-weight: 700;
    line-height: 142%;
    margin: 0%;
    display: flex;
    justify-content: center;
}

.errorMessage{
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 36px;
}

.link-to-home{
    display: flex;
    justify-content: center;
    color: #FF6060;
    font-weight: 500;
    font-size: 18px;
}